<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wekex.apps.bluetoothremote">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.LayoutEditor"
            android:label="@string/title_activity_layout_editor"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ActionLayout" />
        <activity
            android:name=".LayoutList"
            android:label="@string/title_activity_layout_list"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".layout_creator"
            android:label="@string/title_activity_layout_creator"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".BluetoothTerminal">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BluetoothDeviceListActivity" />
    </application>

</manifest>